* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #128fc4;
}

/* header starts from here */
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  width: 100%;
  padding: 30px 100px; /* Adjust padding as needed, 10px is for top and 50px is for right and left*/
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust gap as needed */
}
.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}
.logo h1 {
  font-size: 2em;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* header ends here */

/* main section starts from here */

.cards {
  display: grid;
  grid-template-rows: 225px 225px;
  grid-template-columns: 12% 12% 12% 12%;
  /* grid-gap: 25px; */
  row-gap: 40px;
  column-gap: 40px;
  justify-content:center;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-template-areas:
    "crd1 crd8 crd3 crd5"
    "crd6 crd2 crd7 crd4";
}
.crd {
  background-color: #eefef8;
  border-radius: 27px;
  min-width: 120px;
  aspect-ratio: 1;
}

.crd1 {
  grid-area: crd1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poki{
padding-top: 20px;
    width: 90%;
    height: auto;
    max-width: 140px; /* Set a max width for the image */
    /* width: 9.75rem;
    min-height:5rem;
    object-fit: contain;
 */

    /* max-height: 13.75rem;
    min-width: 13.75rem; */
}
.crd2 {
  grid-area: crd2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.crd3 {
  grid-area: crd3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.crd4 {
  grid-area: crd4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.crd5 {
  grid-area: crd5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.crd6 {
  grid-area: crd6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.crd7 {
  grid-area: crd7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.crd8 {
  grid-area: crd8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.crd div {
  font-size: 1.3em;  /* Increase the font size */
  font-weight:lighter;  /* Make the text bold */
  color: #000000;  /* Set the text color to a green shade */
  margin-top: 2px;  /* Add some margin at the top */
  text-shadow: 2px 2px 4px rgb(86, 130, 205);  /* Add a subtle text shadow */
  font-family: 'Arial', sans-serif;  /* Set a nice font family */
}

/* footer design */
.footer-container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: #eefef8;
    align-items: center;
    /* width: 100%;
    height: 62px; */
}

.footer-container ul{
  display: flex;
  flex-direction: row;
}

.footer-nav li{
padding: 10px;
list-style: none;
}
/* Media Query for 834px width and 1194px height */
@media screen and (max-width: 834px) {
  .logo h1 {
    font-size: 25px;
  }

  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
  }

  .cards {
    display: grid;
    grid-template-rows: 210px 210px 210px;
    grid-template-columns: 20% 20% 20%;
    grid-gap: 30px;
    justify-content: center;
    padding-top: 70px;
    grid-template-areas:
      "crd1 crd2 crd3"
      "crd4 . crd5"
      "crd6 crd7 crd8";
  }

  .crd {
    background-color: #eefef8;
    border-radius: 27px;
  }

  .poki{
    min-width: 120px;
    min-height: 120px;
    width: 80%;
    height: 80%;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #d6c7c7;
    padding: 30px 100px; /* Adjust padding as needed, 10px is for top and 50px is for right and left*/
  }
}

@media (max-width: 600px) {
  .logo h1 {
    font-size: 10px;
  }

  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 0.6em;
  }

  .cards {
    display: grid;
    grid-template-rows: 210px 210px 210px;
    grid-template-columns: 30% 30%;
    grid-gap: 30px;
    justify-content: center;
    padding-top: 70px;
    grid-template-areas:
      "crd1 crd2"
      "crd4 crd5"
      "crd6 crd7"
      "crd3 crd8";
  }

  .crd {
    background-color: #eefef8;
    border-radius: 27px;
  }

  .poki{
    min-width: 120px;
    min-height: 120px;
    width: 80%;
    height: 80%;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #d6c7c7;
    padding: 30px 100px; /* Adjust padding as needed, 10px is for top and 50px is for right and left*/
  }


}